In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
data = pd.read_csv("netflix_titles.csv")

In [3]:
data.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,81145628,Movie,Norm of the North: King Sized Adventure,"Richard Finn, Tim Maltby","Alan Marriott, Andrew Toth, Brian Dobson, Cole...","United States, India, South Korea, China","September 9, 2019",2019,TV-PG,90 min,"Children & Family Movies, Comedies",Before planning an awesome wedding for his gra...
1,80117401,Movie,Jandino: Whatever it Takes,NaN,Jandino Asporaat,United Kingdom,"September 9, 2016",2016,TV-MA,94 min,Stand-Up Comedy,Jandino Asporaat riffs on the challenges of ra...
2,70234439,TV Show,Transformers Prime,NaN,"Peter Cullen, Sumalee Montano, Frank Welker, J...",United States,"September 8, 2018",2013,TV-Y7-FV,1 Season,Kids' TV,"With the help of three human allies, the Autob..."
3,80058654,TV Show,Transformers: Robots in Disguise,NaN,"Will Friedle, Darren Criss, Constance Zimmer, ...",United States,"September 8, 2018",2016,TV-Y7,1 Season,Kids' TV,When a prison ship crash unleashes hundreds of...
4,80125979,Movie,#realityhigh,Fernando Lebrija,"Nesta Cooper, Kate Walsh, John Michael Higgins...",United States,"September 8, 2017",2017,TV-14,99 min,Comedies,When nerdy high schooler Dani finally attracts...

In [4]:
data.shape

(6234, 12)

In [5]:
for col in data.columns:
    print(col, ":,", len(data[col].value_counts()))

show_id :, 6234
type :, 2
title :, 6172
director :, 3301
cast :, 5469
country :, 554
date_added :, 1524
release_year :, 72
rating :, 14
duration :, 201
listed_in :, 461
description :, 6226

title을 key value로 만들어보자

In [6]:
data = data.drop_duplicates('title', keep = 'first')

In [7]:
data.isna().sum()

show_id            0
type               0
title              0
director        1940
cast             567
country          472
date_added        10
release_year       0
rating             9
duration           0
listed_in          0
description        0
dtype: int64

In [8]:
data = data.drop(["show_id", "cast", "description"], axis = 1)
data.head()

,type,title,director,country,date_added,release_year,rating,duration,listed_in
0,Movie,Norm of the North: King Sized Adventure,"Richard Finn, Tim Maltby","United States, India, South Korea, China","September 9, 2019",2019,TV-PG,90 min,"Children & Family Movies, Comedies"
1,Movie,Jandino: Whatever it Takes,NaN,United Kingdom,"September 9, 2016",2016,TV-MA,94 min,Stand-Up Comedy
2,TV Show,Transformers Prime,NaN,United States,"September 8, 2018",2013,TV-Y7-FV,1 Season,Kids' TV
3,TV Show,Transformers: Robots in Disguise,NaN,United States,"September 8, 2018",2016,TV-Y7,1 Season,Kids' TV
4,Movie,#realityhigh,Fernando Lebrija,United States,"September 8, 2017",2017,TV-14,99 min,Comedies

country가 multi-value니까 얘를 새로운 테이블로 만들자 (merge 할 수 있게)

In [9]:
country = data[["title", "country"]]
country = country.drop_duplicates('title', keep = 'first')
country.head()

,title,country
0,Norm of the North: King Sized Adventure,"United States, India, South Korea, China"
1,Jandino: Whatever it Takes,United Kingdom
2,Transformers Prime,United States
3,Transformers: Robots in Disguise,United States
4,#realityhigh,United States

In [10]:
country.shape

(6172, 2)

In [11]:
country["country"]  = country["country"].str.split(',')
country = country.explode('country')
country.reset_index(drop = True, inplace = True)
country.head(10)

                                     title         country
0  Norm of the North: King Sized Adventure   United States
1  Norm of the North: King Sized Adventure           India
2  Norm of the North: King Sized Adventure     South Korea
3  Norm of the North: King Sized Adventure           China
4               Jandino: Whatever it Takes  United Kingdom
5                       Transformers Prime   United States
6         Transformers: Robots in Disguise   United States
7                             #realityhigh   United States
8                                  Apaches           Spain
9                                 Automata        Bulgaria

In [12]:
country.isna().sum() # na 값은 476개

title        0
country    472
dtype: int64

director도 multi-value 니까 country와 똑같이 하자

In [13]:
direc = data[["title", "director"]]
direc = direc.drop_duplicates('title', keep = 'first')
direc.head()

                                     title                  director
0  Norm of the North: King Sized Adventure  Richard Finn, Tim Maltby
1               Jandino: Whatever it Takes                       NaN
2                       Transformers Prime                       NaN
3         Transformers: Robots in Disguise                       NaN
4                             #realityhigh          Fernando Lebrija

In [14]:
direc.shape

(6172, 2)

In [15]:
direc["director"]  = direc["director"].str.split(',')
direc = direc.explode('director')
direc.reset_index(drop = True, inplace = True)
direc.head(10)

                                     title            director
0  Norm of the North: King Sized Adventure        Richard Finn
1  Norm of the North: King Sized Adventure          Tim Maltby
2               Jandino: Whatever it Takes                 NaN
3                       Transformers Prime                 NaN
4         Transformers: Robots in Disguise                 NaN
5                             #realityhigh    Fernando Lebrija
6                                  Apaches                 NaN
7                                 Automata         Gabe Ibáñez
8       Fabrizio Copano: Solo pienso en mi        Rodrigo Toro
9       Fabrizio Copano: Solo pienso en mi   Francisco Schultz

In [16]:
direc.shape

(6755, 2)

In [17]:
data = data.drop(["country", "director", "listed_in"], axis = 1)
data.head()

,type,title,date_added,release_year,rating,duration
0,Movie,Norm of the North: King Sized Adventure,"September 9, 2019",2019,TV-PG,90 min
1,Movie,Jandino: Whatever it Takes,"September 9, 2016",2016,TV-MA,94 min
2,TV Show,Transformers Prime,"September 8, 2018",2013,TV-Y7-FV,1 Season
3,TV Show,Transformers: Robots in Disguise,"September 8, 2018",2016,TV-Y7,1 Season
4,Movie,#realityhigh,"September 8, 2017",2017,TV-14,99 min

In [18]:
data["date_added"] = data["date_added"].str.replace(',','')
data["date_added"] = data["date_added"].str.split()
data["month"], data["date"], data["year"] = data["date_added"].str[0], data["date_added"].str[1], data["date_added"].str[2]
data.head()

,type,title,date_added,release_year,rating,duration,month,date,year
0,Movie,Norm of the North: King Sized Adventure,"[September, 9, 2019]",2019,TV-PG,90 min,September,9,2019
1,Movie,Jandino: Whatever it Takes,"[September, 9, 2016]",2016,TV-MA,94 min,September,9,2016
2,TV Show,Transformers Prime,"[September, 8, 2018]",2013,TV-Y7-FV,1 Season,September,8,2018
3,TV Show,Transformers: Robots in Disguise,"[September, 8, 2018]",2016,TV-Y7,1 Season,September,8,2018
4,Movie,#realityhigh,"[September, 8, 2017]",2017,TV-14,99 min,September,8,2017

In [19]:
data.drop("date_added", inplace = True, axis = 1)

In [20]:
movie = data[data["type"] == "Movie"]
tv_show = data[data["type"] == "TV Show"]

In [21]:
movie.shape

(4233, 8)

In [22]:
tv_show.shape

(1939, 8)

In [23]:
print("Movie with Season : ", len(movie[movie["duration"].str.contains("Season")]))
print("Movie with Min : ", len(movie[movie["duration"].str.contains("min")]))

Movie with Season :  0
Movie with Min :  4233

In [24]:
print("TV show with Season : ", len(tv_show[tv_show["duration"].str.contains("Season")]))
print("TV show with Min : ", len(tv_show[tv_show["duration"].str.contains("min")]))

TV show with Season :  1939
TV show with Min :  0

그냥 우리 데이터를 위해 1 season = 100min 으로 통일

In [25]:
movie["duration"] = movie["duration"].str.split().str[0]
movie.head()

/Users/jominju/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,type,title,release_year,rating,duration,month,date,year
0,Movie,Norm of the North: King Sized Adventure,2019,TV-PG,90,September,9,2019
1,Movie,Jandino: Whatever it Takes,2016,TV-MA,94,September,9,2016
4,Movie,#realityhigh,2017,TV-14,99,September,8,2017
6,Movie,Automata,2014,R,110,September,8,2017
7,Movie,Fabrizio Copano: Solo pienso en mi,2017,TV-MA,60,September,8,2017

In [26]:
tv_show["duration"] = pd.to_numeric(tv_show["duration"].str.split().str[0]) * 100
tv_show.head()

/Users/jominju/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,type,title,release_year,rating,duration,month,date,year
2,TV Show,Transformers Prime,2013,TV-Y7-FV,100,September,8,2018
3,TV Show,Transformers: Robots in Disguise,2016,TV-Y7,100,September,8,2018
5,TV Show,Apaches,2016,TV-MA,100,September,8,2017
8,TV Show,Fire Chasers,2017,TV-MA,100,September,8,2017
26,TV Show,Castle of Stars,2015,TV-14,100,September,7,2018

## table 정리
1) movie : type == "MOVIE",
    - type(Movie or TV Show) : str, title : str (key), release_year : int, rating : str, month : str, date : int, year : int
2) tv_show : type == "TV Show",
    - type(Movie or TV Show) : str, title : str (key), release_year : int, rating : str, month : str, date : int, year : int 
    
3) country
    - title(key) : str, country : str

4) direc
    - title(key) : str, director : str

In [27]:
from sklearn.model_selection import train_test_split # for split

In [28]:
np.random.seed(1108)

movie1, movie2 = train_test_split(movie, test_size=0.4)
movie1, movie3 = train_test_split(movie1, test_size=0.4)
tv_show1, tv_show2 = train_test_split(tv_show, test_size=0.6)

direc1, direc2 = train_test_split(direc, test_size=0.6)

country1, country2 = train_test_split(country, test_size=0.7)
country2, country3 = train_test_split(country2, test_size = 0.4)

In [29]:
tables = [movie1, movie2, movie3, tv_show1, tv_show2,
         country1, country2, country3, direc1, direc2]

table_names = ["movie1", "movie2", "movie3", "tv_show1", "tv_show2",
               "country1", "country2", "country3", "direc1", "direc2"]

for i, table in enumerate(tables):
    table.name = table_names[i]
    print(table.name, ":", table.shape)
    table.reset_index(drop = True, inplace = True)

movie1 : (1523, 8)
movie2 : (1694, 8)
movie3 : (1016, 8)
tv_show1 : (775, 8)
tv_show2 : (1164, 8)
country1 : (2273, 2)
country2 : (3182, 2)
country3 : (2122, 2)
direc1 : (2702, 2)
direc2 : (4053, 2)

In [30]:
for table in tables:
    table.to_csv('{}.csv'.format(table.name), index = False, encoding='utf-8-sig')

In [31]:
data[data["title"].duplicated()]

Empty DataFrame
Columns: [type, title, release_year, rating, duration, month, date, year]
Index: []